body {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 400;
}

.root {
    display: grid;
    grid-template-columns: 240px auto 0px;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "logo optbar editbar"
    "sidebar taskbar editbar";
    height: 100vh;
    justify-items: stretch;
}

.root-with-editbar {
    grid-template-columns: 240px auto 360px;
}

/* Login adn register window */

.login,
.register {
    align-items: center;
    background-color: #5C6B73;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
}

.login-header,
.register-header {
    color: white;
    font-size: 1.3em;
    margin-bottom: 20px;
}

.login-form,
.register-form {
    align-items: flex-start;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 300px;
}

.login-prompt,
.register-prompt {
    color: #5C6B73;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.login-input,
.register-input {
    background-color: #5C6B73;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    color: white;
    height: 40px;
    margin: 5px 0;
    outline: none;
    padding: 0 10px;
    width: 100%;
}

.login-buttons-group,
.register-buttons-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-submit-btn,
.register-submit-btn {
    background-color: #5C6B73;
    border-radius: 5px;
    border: none;
    color: white;
    height: 40px;
    outline: none;
    padding: 0 15px;
}

.login-submit-btn:active,
.register-submit-btn:active {
    background-color: #e0e8eb;
    color: #5C6B73;
}

.login-change-btn,
.register-change-btn {
    background-color: #e0e8eb;
    border-radius: 5px;
    border: none;
    color: #5c6b73;
    font-weight: 400;
    height: 40px;
    outline: none;
    padding: 0 15px;
}

.login-message {
    color: rgb(201, 83, 83);
    font-size: 0.8em;
    margin-top: 20px;
}

/* Logo block */

.logo {
    align-items: center;
    background-color: #253237;
    color: #E0FBFC;
    display: flex;
    grid-area: logo;
    justify-content: center;
}

.logo-title {
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 0.2em;
    user-select: none;
}

/* Options bar block */

.optbar {
    align-items: center;
    background-color: #5C6B73;
    color: #E0FBFC;
    display: flex;
    grid-area: optbar;
    font-weight: 500;
    justify-content: space-between;
    padding: 15px 0;
}

.optbar-cathegory-title {
    cursor: default;
    font-size: 1.2em;
    margin-left: 20px;
    max-width: 40%;
    overflow-wrap: break-word;
}

.optbar-options-group {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

.optbar-logout-btn {
    background-color: #C2DFE3;
    border-radius: 5px;
    border: none;
    color: #253237;
    height: 40px;
    margin-left: 20px;
    outline: none;
    padding: 0 15px;
}

/* Sort menu */

.sort-menu {
    color: white;
    font-size: 0.9em;
    position: relative;
    font-weight: 400;
}

.sort-list {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
}

.sort-list-visible {
    display: block;
}

.sort-type {
    background-color: #253237;
    border: none;
    cursor: pointer;
    list-style: none;
    padding: 10px 15px;
}

.sort-type:last-child {
    border-radius: 0 0 5px 5px;
}

.sort-type:hover {
    background-color: #5C6B73;
    color: #E0FBFC;
}

.sort-btn {
    background-color: #253237;
    border-radius: 5px;
    border: none;
    height: 40px;
    outline: none;
    padding: 0 15px;
}

.sort-btn-active {
    border-radius: 5px 5px 0 0;
}

/* Edit bar menu block */

.editbar {
    background-color: #C2DFE3;
    grid-area: editbar;
    overflow: auto;
}

.editbar-form {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
}

.editbar-group {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.editbar-title-input {
    background-color: #C2DFE3;
    border: none;
    font-weight: 500;
    height: 70px;
    outline: none;
    width: 100%;
}

.editbar-checkbox {
    font-size: 1.6em;
}

.editbar-message {
    font-size: 0.9em;
    margin-bottom: 15px;
}

.editbar-date-input {
    background-color: white;
    border-radius: 5px;
    border: none;
    height: 35px;
    outline: none;
    padding: 0 10px;
    width: 100%;
}

.editbar-date-input::placeholder {
    font-size: 0.9em;
}

.editbar-select {
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    outline: none;
    padding: 10px 10px;
}

.editbar-textarea {
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    margin-bottom: 15px;
    outline: none;
    padding: 10px 10px;
    resize: vertical;
}

.editbar-textarea::placeholder {
    font-size: 0.9em;
}

.editbar-btn {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 0.9em;
    height: 35px;
    outline: none;
    padding: 0 15px;
    width: 47%;
}

.editbar-save-btn {
    background-color: #5C6B73;
}

.editbar-delete-btn {
    background-color: #db3434;
}

/* Cathegories menu block */

.sidebar {
    background-color: #C2DFE3;
    display: flex;
    grid-area: sidebar;
    flex-direction: column;
    overflow: auto;
}

.sidebar-title {
    font-weight: 500;
    margin: 15px 0 0 0;
    text-align: center;
}

.sidebar-default-cathegories,
.sidebar-custom-cathegories {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar-cathegory {
    color: #253237;
    cursor: pointer;
    list-style: none;
    padding: 10px 40px 10px 30px;
}

.sidebar-cathegory:hover  {
    background-color: #9DB4C0;
}

.sidebar-selected-cathegory {
    background-color: #5C6B73;
    color: #E0FBFC;
    font-weight: 500;
}

.sidebar-input {
    background-color: #cfeced;
    border: none;
    box-sizing: border-box;
    font-weight: 500;
    height: 45px;
    outline: none;
    padding: 0 30px;
    width: 100%;
}

.sidebar-input::placeholder {
    font-size: 0.9em;
    font-weight: 400;
}

.sidebar-custom-cathegory {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sidebar-cathegory-title {
    overflow-wrap: break-word;
    width: 100%;
}

.sidebar-delete-btn {
    color: #E0FBFC;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 20px;
}

.sidebar-custom-cathegory:hover>.sidebar-delete-btn {
    display: block;
}

/* Таскбар */

.taskbar {
    background: #E0FBFC;
    grid-area: taskbar;
    overflow: auto;
    padding: 20px;
}

.taskbar-message {
    color: #5c6b73;
    font-size: 0.9em;
    margin: 5px 0 0 0;
}

.taskbar-hide-btn {
    background: #C2DFE3;
    border-radius: 5px;
    border: none;
    color: #5c6b73;
    font-size: 0.8em;
    height: 30px;
    outline: none;
    padding: 0 15px;
}

.taskbar-hide-btn-active {
    background-color: #5C6B73;
    color: #E0FBFC;
}

.taskbar-active-tasks {
    display: flex;
    flex-direction: column;
    margin: 15px 0 20px 0;
    padding: 0;
}

.taskbar-unactive-tasks {
    display: none;
    flex-direction: column;
    margin: 15px 0 20px 0;
    padding: 0;
}

.taskbar-unactive-tasks-visible {
    display: flex;
}

/* Add task form */

.addtask-form {
    align-items: center;
    display: flex;
    position: relative;
    font-weight: 500;
}

.addtask-title {
    background-color: #C2DFE3;
    border-radius: 5px;
    border: none;
    height: 40px;
    min-width: 160px;
    outline: none;
    padding-left: 20px;
    width: 100%;
}

.addtask-title::placeholder {
    font-weight: 400;
}

.addtask-date {
    background-color: #C2DFE3;
    border-radius: 5px;
    border: none;
    height: 40px;
    margin-left: 15px;
    outline: none;
    padding-left: 20px;
    width: 147px;
}

.addtask-date::placeholder {
    font-size: 0.9em;
    font-weight: 400;
}

.addtask-btn {
    background-color: #5c6b73;
    border-radius: 5px;
    border: none;
    color: #e0fbfc;
    font-size: 0.9em;
    height: 40px;
    margin-left: 15px;
    outline: none;
    padding: 0 15px;
}

/* Task block */

.task {
    align-items: center;
    border-radius: 5px;
    border: 1px solid #C2DFE3;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    list-style: none;
    margin-top: 5px;
    padding: 7px 15px;
}

.task-title {
    cursor: default;
    font-weight: 400;
}

.task-done-title {
    text-decoration: line-through;
}

.task-group {
    align-items: center;
    display: flex;
    justify-content: flex-start;
}

.task-active {
    background-color: white;
    color: #253237;
}

.task-unactive {
    background-color:#C2DFE3;
    color: #5C6B73;
}

.task-selected {
    background-color: #ecfbfb;
}

.task-checkbox {
    color: #5c6b73;
    cursor: pointer;
    margin-right: 15px;
}

.task-deadline {
    color: #5c6b73;
    cursor: default;
    font-size: 0.75em;
    margin-right: 20px;
}

.task-deadline-expired {
    color: #db3434;
}

.task-cathegory {
    color: #5c6b73;
    cursor: default;
    font-size: 0.75em;
    margin-right: 20px;
}

/* Important buttons */

.important-btn {
    background-color: #e0fbfc;
    border-radius: 5px;
    border: none;
    color: #253237;
    font-size: 0.75em;
    font-weight: 400;
    order: 1;
    outline: none;
    padding: 5px 10px;
}

.important-addtask-btn {
    font-size: 0.75em;
    position: absolute;
    right: 310px;
}

.important-editbar-btn {
    font-size: 0.9em;
    height: 35px;
    margin-left: 15px;
    padding: 0 15px;
}

.important-btn-selected {
    background: rgb(255, 243, 46);
    color: #253237;
}